{% extends "::base.html.twig" %}

{% block title %}Random Number Gener0tor!{% endblock %}

    {% block content_header '' %}

        {% block body %}
            <h1 class="title">The random Number is</h1>
            <ul id="demo-list">
                <li>{{ number }}</li>
            </ul>
        {% endblock %}