{% extends "::base.html.twig" %}

{% block title %}FoodPicker{% endblock %}

    {% block content_header '' %}

        {% block body %}
            <div class="container-narrow">
                <div class="masthead">
                    <h3 class="muted">Privacy Statement</h3>
                </div>
                <div class="jumbotron">
                    <p class="lead">
                        We do not collect information about where you eat. <br>
                        Not for any legal reasons. <br><br>
                        We just don't care.
                    </p>
                </div>

            </div>
        {% endblock %}